.service-section {
  height: 900px;
}

.services {
  margin-top: 100px;
  color: black;
  padding: 10px;
}

#dark .services {
  background-color: #38004c;
  color: white;
}

.services-title h2 {
  text-align: center;
}

#dark .services-title h2 {
  text-align: center;
  color: white;
}
.view-details-button {
  border: 1px solid blue;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}
.view-details-button:hover {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  transition-duration: 0.5s;
}
.service-number {
  border-radius: 90px;
  /* background-color: blue; */
  height: 50px;
  width: 50px;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
  margin-top: -30px;
}
.service-number p {
  /* position: relative;
float: left;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); */
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.list-of-service p {
  text-align: center;
  padding-top: 2px;
}

.services:hover {
  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);

  cursor: pointer;
  transition-duration: 1s;
  cursor: pointer;
}

.service-under-line {
  display: block;
  width: 100%;
  height: 0.1px;
  margin-bottom: 10px;
  background-color: rgb(140, 50, 11);
}
#dark .service-under-line {
  display: block;
  width: 100%;
  height: 0.1px;
  margin-bottom: 10px;
  background-color: rgb(200, 126, 95);
}

@media (max-width: 1000px) {
  .service-section {
    height: auto;
  }
}
