.team-members {
  height: 1400px;
}
.team h2 {
  text-align: center;
}
.team-info {
  padding: 10px;
}
.team-members-item {
  margin-top: 20px;
  height: 440px;

  overflow: hidden;

}
.team-members-item img {
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(70%);
}

.team-members-item:hover img {
  filter: brightness(100%);
  transform: scale(1.1);
}

.team-social-icon{
    display: flex;
 

}

.team-social-icon p{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    color: white;
    border-radius: 90px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px;
}



