.team-members {
  height: 1400px;
}
.team h2 {
  text-align: center;
}
.team-info {
  padding: 20px;
}
.team-members-item {
  margin-top: 20px;
  height: 450px;
  width: 350px;
  overflow: hidden;

}
.team-members-item img {
  height: 210px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(70%);
}

.team-members-item:hover img {
  filter: brightness(100%);
  transform: scale(1.1);
}




