.about-section{
  height: 900px;
}

.container {
  color: white;
}
.about-image img{

  object-fit: cover;
  border-radius: 190px;
  margin-top: 160px;

}
.about-details{
  text-align: left;
  margin-top: 160px;
  padding: 20px;
}

@media (max-width: 1000px) {
  .about-section {
    height: auto;
  }
}

.about-list{
  display: flex;
  margin-top: 10px;

}

.about-list p{
padding-top: 5px;
}

