.about-section{
  height: 900px;
}

.container {
  color: white;
}
.about-image img{

  object-fit: cover;
  border-radius: 190px;
  margin-top: 160px;

}
.about-details{
  text-align: left;
  margin-top: 160px;
  padding: 20px;
}
.about-item-list{
  display: flex;
  padding: 10px;
}

#dark .about-item-list{
  text-align: left;
  background-color: #38004c;
  color: white;
}

#dark .card-design{
  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
}

.about-details-icons{
  color: purple;
  padding-right: 10px;
}

#dark .about-details{
  background-color: #38004c;
  color: white;
}

#light .about-details{
  text-align: left;
  margin-top: 160px;
  padding: 20px;

}

@media (max-width: 1000px) {
  .about-section {
    height: auto;
  }
}

.about-list{
  display: flex;
  margin-top: 10px;

}

#dark .about-list{

  background-color: black;
  color: white;
}

.about-list p{
padding-top: 5px;
}

