.about-section{
  height: 900px;
}

.container {
  color: white;
}
.about-image img{

  object-fit: cover;
  border-radius: 190px;
  margin-top: 160px;

}
.about-details{
  margin-left: 80px;
  text-align: left;
  margin-top: 160px;
}

@media (max-width: 1000px) {
  .about-section {
    height: auto;
  }
}

