.career {
  color: black;
}

#dark .career {
  background-color: #38004c;
  color: white;
}

.career-title {
  text-align: center;
}

.post-card {
  margin-top: 10px;
  /* padding: 15px; */

  cursor: pointer;
  height: 80px;

  box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
}

.post-card-open {
  border-left: 5px solid blueviolet;
  margin-top: 10px;

  cursor: pointer;

  box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
}

.post-card:hover {
  border-left: 5px solid blueviolet;
  cursor: pointer;
  transition-duration: 1s;
}

#dark .post-card:hover {
  border-left: 10px solid white;
  cursor: pointer;
  transition-duration: 1s;
}

#dark .post-card {
  color: white;

  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
}

.collapse-option {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  height: 55px;
}

.item-title {
  color: rgb(168, 185, 18);
}

.description {
  padding: 15px;
  height: auto;
}

#dark .post-card-open {
  /* background-color: black; */

  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
}

.career-main-content {
  margin-top: 45px;
}

.pagination-details {
  margin-top: 10px;

  box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
}
#dark .pagination-details {
  background-color: rgb(126, 90, 23);
  color: white;

  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
}

@media (max-width: 1000px) {
  .career {
    height: auto;
  }
}
