.career{
    color: black;
}


#dark .career{
    background-color: #38004c;
    color: white;
}



.career-title{
    text-align: center;
}

.post-card{
    margin-top: 10px;
    /* padding: 15px; */
    cursor: pointer;
}

#dark .post-card{
    background-color: black;
    color: white;
}


.collapse-option{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 55px;
}

.item-title{
   color: #fe4c1c;
    
}

.description{
    padding: 15px;
    height: auto;
}

.career-main-content{
    margin-top: 45px;
}

.pagination-details{
    margin-top: 10px;
}
#dark .pagination-details{
    background-color: rgb(168, 185, 18);
    color: white;}



@media (max-width: 1000px) {
    .career {
      height: auto;
    }
    
  }


